exportPattern("^[[:alpha:]]+")

importFrom("stats", "runif")
importFrom("stats", "rnorm")
importFrom("stats", "setNames")
 importFrom("stats", "rbinom")
 importFrom("stats", "integrate")

importFrom("graphics", "lines", "mtext", "par", "segments")

importFrom(magrittr,"%>%")

importFrom(dplyr,"filter")
importFrom(dplyr,"select")

importFrom(tibble,"as_tibble")
importFrom(TDA,"alphaComplexDiag")

importFrom("zipfR", "Ibeta")
