exportPattern("^[[:alpha:]]+")

importFrom("stats", "runif")
importFrom("stats", "setNames")

importFrom(magrittr,"%>%")

importFrom(dplyr,"filter")
importFrom(dplyr,"select")

importFrom(tibble,"as_tibble")
importFrom(TDA,"alphaComplexDiag")


